$red: #FF354D;
$dark: #252B31;

*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Steinbeck';
    font-weight: 400;
    color: #ffffff;
}
p {
    margin: 0;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/The\ Temporary\ State\ -\ Steinbeck-Regular.ttf');
    font-display: swap;
}
.container {
    width: 1180px;
    margin: 0 auto;
}
.header {
    padding: 18px 0 14px 0;
    border-bottom: 4px solid rgba(255, 255, 255, 0.05);
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        display: block;
        width: 180px;
        height: 37px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &__call {
        display: flex;
        align-items: center;
        margin-right: 65px;
        &--img {
            display: block;
            width: 26px;
            height: 26px;
            svg {
                display: block;
                width: 100%;
                height: 100%;
                fill: #ffffff;
            }
        }
        &--item {
            display: flex;
            flex-direction: column;
            margin-left: 13px;
            font-size: 22px;
            &__number {
                display: block;
                color: #ffffff;
            }
            span {
                display: block;
            }
        }
    }
}
.intro {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to right, $red 50%, $dark 50%);
    &::before {
        content: '';
        background-image: url('../img/setka.png');
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 82px;
        right: 2%;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--item {
            //height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:hover {
                transform: scale(1.04);
                transition: .2s linear;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -100%;
            }
            // &:nth-child(1) {
            //     &::after {
            //         background-image: url('../img/intro/girl-img-red.svg');
            //         width: 284px;
            //         height: 324px;
            //     }
            // }
            // &:nth-child(2) {
            //     &::after {
            //         background-image: url('../img/intro/girl-img-black.svg');
            //         width: 202px;
            //         height: 287px;
            //     }
            // }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        font-family: 'Steinbeck';
        font-size: 55px;
        line-height: 70px;
        color: #ffffff;
        &::after {
            content: '';
            margin-left: 60px;
            display: block;
            width: 29px;
            height: 52px;
            background-image: url('../img/arrow.svg');
        }
    }
}
.text {
    font-size: 24px;
    color: $dark;
}
#cauch__page {
    display: none;
    text-align: center;
}
#therapy__page {
    display: none;
    text-align: center;
}
.cauch {
    &__intro {
        padding: 40px 0;
        background-color: rgb(105, 138, 113);
    }
}
.therapy {
    &__intro {
        padding: 40px 0;
        background-color: rgb(179, 131, 151);
    }
}
.title {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}