<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLHNPF');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLHNPF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Стили для уроков с видео-трансляциями -->
<style>
.main-lesson-container .sv-lesson-video-blog {
    text-align: center;
    margin-bottom: 40px;
}
</style>
<style>
.sv-lesson-video-blog-title {
    font-size: 35px;
    margin-bottom: 10px;
}
</style>
<style>
.sv-lesson-video-blog-text {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
</style>
<style>
.sv-lesson-video-blog-dz {
    padding-bottom: 10px;
}
</style>
<style>
.sv-block-yellow {
    display: inline-block;
    border: 1px solid #ffa300;
    padding: 10px 25px;
    border-radius: 9px;
}
</style>
<style>
.sv-block-yellow .sv-block-yellow-text {
    margin: 0;
    font-size: 20px;
}
</style>
<style>
.sv-lesson-video-blog-dz .sv-lesson-video-blog-btn {
    padding-left: 30px;
    padding-right: 30px;
}
</style>

<!-- Стили для уроков с обратной связью -->
<style>
.sv-feedback-blog-title {
    margin-bottom: 20px;
}
</style>
<style>
.sv-feedback-blog-text {
    font-size: 20px;
}
</style>


<!-- Стили для всех видео -->
<style>
.sv-video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
    margin: 0 30px 40px;
}

.sv-video-73 {
    position:relative;
    padding-bottom:73%;
    padding-top:25px;
    height:0;
}

.sv-video iframe,
.sv-video-73 iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media (max-width: 640px) {
    .sv-video {
        margin: 0 0 20px;
    }
}
</style>

<!-- Стили для всего сайта (шрифты) -->
<style>
section.page, section.page h1, section.page h2, section.page h3, section.page h4, section.page h5, section.page h6, section.header {
    font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif!important;
}
</style>

<style>
.font-weight-400 .f-text {
    font-weight: 400;
}
</style>


<!-- Адаптив -->
<style>
@media screen and (max-width: 768px) {
    .note-video-clip {
        width: 100%;
        height: auto;
    }
.main-lesson-container .player .vp-overlay-wrapper h1 {
margin: 5px 0;
}
}
</style>

<!-- Отслеживание посещения getresponse -->
<!-- Getresponse Analytics -->
<script type="text/javascript" src="https://email.vadimkurkin.com/script/ga.js?grid=pBlkCMkQ%3D" async></script>
<!-- End Getresponse Analytics -->

<meta name="facebook-domain-verification" content="omob4duc5dt5atbxuu9xy50sszarx8" />



</style>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLHNPF');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLHNPF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Стили для уроков с видео-трансляциями -->
<style>
.main-lesson-container .sv-lesson-video-blog {
    text-align: center;
    margin-bottom: 40px;
}
</style>
<style>
.sv-lesson-video-blog-title {
    font-size: 35px;
    margin-bottom: 10px;
}
</style>
<style>
.sv-lesson-video-blog-text {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
</style>
<style>
.sv-lesson-video-blog-dz {
    padding-bottom: 10px;
}
</style>
<style>
.sv-block-yellow {
    display: inline-block;
    border: 1px solid #ffa300;
    padding: 10px 25px;
    border-radius: 9px;
}
</style>
<style>
.sv-block-yellow .sv-block-yellow-text {
    margin: 0;
    font-size: 20px;
}
</style>
<style>
.sv-lesson-video-blog-dz .sv-lesson-video-blog-btn {
    padding-left: 30px;
    padding-right: 30px;
}
</style>

<!-- Стили для уроков с обратной связью -->
<style>
.sv-feedback-blog-title {
    margin-bottom: 20px;
}
</style>
<style>
.sv-feedback-blog-text {
    font-size: 20px;
}
</style>


<!-- Стили для всех видео -->
<style>
.sv-video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0;
    margin: 0 30px 40px;
}

.sv-video-73 {
    position:relative;
    padding-bottom:73%;
    padding-top:25px;
    height:0;
}

.sv-video iframe,
.sv-video-73 iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

@media (max-width: 640px) {
    .sv-video {
        margin: 0 0 20px;
    }
}
</style>

<!-- Стили для всего сайта (шрифты) -->
<style>
section.page, section.page h1, section.page h2, section.page h3, section.page h4, section.page h5, section.page h6, section.header {
    font-family: "proxima-nova", "Lato", Helvetica, Arial, sans-serif!important;
}
</style>

<style>
.font-weight-400 .f-text {
    font-weight: 400;
}
</style>


<!-- Адаптив -->
<style>
@media screen and (max-width: 768px) {
    .note-video-clip {
        width: 100%;
        height: auto;
    }
.main-lesson-container .player .vp-overlay-wrapper h1 {
margin: 5px 0;
}
}
</style>

<!-- Отслеживание посещения getresponse -->
<!-- Getresponse Analytics -->
<script type="text/javascript" src="https://email.vadimkurkin.com/script/ga.js?grid=pBlkCMkQ%3D" async></script>
<!-- End Getresponse Analytics -->

<meta name="facebook-domain-verification" content="omob4duc5dt5atbxuu9xy50sszarx8" />

<style>
.gc-account-leftbar {
    background: linear-gradient(180deg,#d9a8b9 0%, #ffffff 100% ) !important;
}
.gc-account-leftbar .gc-account-user-menu li a {
    background: inherit;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}
.gc-account-leftbar .gc-account-user-menu li a:hover {
    background: #C57098 !important;
}
.gc-account-leftbar .gc-account-user-menu li.active a, .gc-account-leftbar .gc-account-user-menu li.selected a {
    background: #FFCA60 !important;
}
.gc-account-leftbar .gc-account-user-submenu-bar {
    background: #CEB1BA !important;
}
.gc-account-user-submenu-bar .gc-account-user-submenu li a {
    color: #ffffff !important;
}
.gc-account-user-submenu-bar .gc-account-user-submenu li a:hover {
    background: #FBDFDB !important;
	transition: .2s linear;
}
.gc-account-user-menu .menu-item {
    border-top: 1px #D9A8B9 solid;
}
.menu-item-profile {
    border-radius: 100px;
}
.gc-account-user-menu .menu-item img {
	display: none
}
.menu-item-profile img {
	display: block;
    border-radius: 100px;
	border: 1px solid #FBDFDB !important;
}
.gc-account-user-menu .menu-item-profile img {
	display: block;
}
.gc-account-user-menu .menu-item {
    border-bottom: 1px #ffffff solid;
}
.gc-account-user-menu .menu-item-notifications_button_small a:before {
    content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/246/h/5c60a8f15da1add48682d2b8e537f26f.png');
	display: block;
}
.gc-account-user-menu .menu-item-cms a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/69/h/e04f6e394c9ded35480f33809622693e.png');
	display: block;
}
.gc-account-user-menu .menu-item-teach a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/17/h/55f8911c20ff35b41b2965d79e262784.png');
	display: block;
}
.gc-account-user-menu .menu-item-user a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/79/h/93a26bf58a801987fdcb7874656790c6.png');
	display: block;
}
.gc-account-user-menu .menu-item-tasks a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/198/h/365d87013c5ee5d2f7089a6e70a1b9cc.png');
	display: block;
}
.gc-account-user-menu .menu-item-notifications a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/2/h/3e6b22f09271fe91f2760a0672279b34.png');
	display: block;
}
.gc-account-user-menu .menu-item-sales a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/96/h/392a82041858d30ddea7e1f60c27e329.png');
	display: block;
}
.gc-account-user-menu .menu-item-chatium a:before {
	content: url('https://fs.getcourse.ru/fileservice/file/download/a/2913/sc/161/h/e0b90f44f59ae72d652cf6c9f5482371.png');
	display: block;
}
.gc-account-user-submenu-bar h3 {
    color: #000 !important;
    font-weight: bold;
  }